<div><%= fb_couple(@couple, :size=>'thumb') %></div>
<h1> was rated by...</h1>
<% if(@couple.ratings.nil? || @couple.ratings == []) %>
<%= fb_explanation("This couple hasn't been rated yet") %>
<% else %>
<% for rating in @couple.ratings %>
  <div class = "ratings">
     <span class = "pic"> <%=fb_picture(rating.user.picture, :size=>'small')%> </span>
            <span class = "average">Rating: <span class = "number">
                <%=rating.rating.to_s%>
                </span>
        </span>
 </div>
<% end %>
<% end %>
