<h3>F.A.Q. -- Frequently Asked Questions</h3>
<br>
<br><h4>What is Couple Rater?</h4>
<br>
A Facebook Application!  Next question!
<br>
<br>
<br><h4>But what does it do?</h4>
<br>
Couple Rater lets you be the matchmaker with your networks and your friends.  By rating the compatibility of your friends with each other, you get to decide who is a hot couple, and who isn't meant to be.  At the same time, your friends will be rating you with your potential soulmates, so you'll know exactly what your friends think about you.
<br>
<br>
<br><h4>
How do I rate a couple?  
</h4><br>
Go to the main page of Couple Rater (click on Couple Rater in your Application list, or go to http://apps.facebook.com/couplerater/ ) and you will see a couple.  Spend a few minutes (or a few seconds) evaluating the compatibility of your two friends, and make a decision based on a scale from 1 to 10 (1 means they would be a poor couple, 10 means a great one!)  A new couple will automatically load after you click.  You can change what kind of couples you want to see and you can specify which network to choose from.  
<br>
<br>
<br><h4>
How do I see my ratings?
</h4><br>
Click on the "my matches" tab.  For each listing, the rating represents how your friends think you would be with this person.
<br>
<br>
<br><h4>
I hardly have any ratings!
</h4><br>
That's not a question!  Anyway, you will show up in couples more often if you rate more couples, so participate and be patient!  Also, tell your friends to join so you will have more people to rate you!
<br>
<br>
<br><h4>
What does it mean if I "like" someone?
</h4><br>
From the "my matches" screen, you can look at the couples you are in, and you can actually decide if you like any of these people.  By selecting "I like them", that person will see that you really care about them!  If you don't want that person to know, you can "secretly like them" instead.  But beware!  If you secretly like someone, and they secretly like you back, you will each know!
<br>
<br>
<br><h4>
What is "Couplistics"?
</h4><br>
Couple statistics.  On this tab, you can see new couples, most rated couples, highest rated couples, and most active couples.
<br>
<br>
<br><h4>
How do I see who likes me?
</h4><br>
Filter the "my matches" page by "They like me" to see who likes you, or "We like each other" to see if you secretly like somebody and they secretly like you back!
<br>
<br>
<br><h4>
Can I choose the people I rate?  Can I rate myself?
</h4><br>
Yes!  Kind of.  If you see a couple in Couplistics that you would like to rate, click the couple and you can rate them.  Also, you can always rate yourself with anybody you see.  Click any picture and you can rate yourself with that person.
<br>
<br>
<br><h4>
I gave a couple a 5 when I meant to give a 6!  Can I change my rating?
</h4><br>
The next time you see the same couple, you can give a new rating.  Be more careful!
<br>
<br>
<br><h4>
How can I change the picture that people rate?
</h4><br>
Use the "edit picture" link at the top of Couple Rater.
<br>
<br>
<br><h4>
I changed my picture and lost all my ratings!  What happened?
</h4><br>
Your ratings are recorded seperately for each picture you use (in case one picture is more flattering than another...).  If you changed to a new picture, you will have to wait until your friends rate you!  You can always change back to your old picture to get your ratings back.
<br>
<br>
<br><h4>
I don't want people rating me with other guys/girls.  How can I make it so I only appear with girls/guys?
</h4><br>
Use the "edit privacy" link at the top of Couple Rater.  Uncheck the "With Men" or "With Women" box to limit who you show up with in couples.
<br>
<br>
<br><h4>
Can I uncheck both boxes?
</h4><br>
Yes, but then you won't receive any ratings!  And that is half the fun, right?
<br>
<br>
<br><h4>
What does "Allow question marks on rate" or "Seeing Question Marks??" mean?
</h4><br>
If you are rating couples in one of your networks, you sometimes might not be able to see a picture, and a big "?" picture shows up instead (due to that person's Facebook privacy settings).  If this bugs you, you can choose not to see any "?" pictures--but some valid couples might not show up.
<br>
<br>
<br><h4>
Can I rate my friends who don't use Couple Rater?
</h4><br>
Yes--but they will never know about their ratings unless you tell them.  So please, spread the word!
<br>
<br>
<br><h4>
I found something I like or don't like.  How can I give feedback?
</h4>
<br>
Use the "Feedback" link at the top of Couple Rater.  Here, you can see and write on the official Couple Rater wall.  Your feedback is appreciated, so don't be shy!
<br>
